Django==1.11.17
psycopg2 --no-binary :all:
markdown
matplotlib<3
decorator==4.0.2
django-guardian
django-crispy-forms
django-extensions
djangorestframework
django-filter
django-taggit
django-taggit-templatetags
django-form-utils
numpy
python-social-auth==0.2.7
requests
requests-oauthlib
jsonfield
expfactory<3
boto3
boto
django-dbbackup<2.3
cognitiveatlas
dropbox==1.6
kombu
opbeat
ua-parser
user-agents
django-user-agents
django-dirtyfields
cython
h5py
Pillow
python-openid
django-sendfile
django-polymorphic
redis<3
celery>=3.1.15,<4.0
django-celery
django-cleanup
django-chosen
git+https://github.com/sinnwerkstatt/django-file-resubmit.git#egg=file_resubmit
django-hstore==1.3.5
django-datatables-view
django-oauth-toolkit==0.9.0
anyjson
uwsgi
