uniqueId = "{{ uniqueId }}"
var expfactory = new ExpFactory(uniqueId)
this.data = {}

// Start experiment when participant pushes button
$("#start_experiment_button").click(function(){
   $("#instructions_modal").hide();
   $("#bootstrap_css").remove()
   {{run | safe}}
});

{% if uniqueId %}
$("#disagree_button").click(function(){
    document.location = "{% url 'end_assignment' uniqueId %}"
})
{% endif %}

function inputData(field, value) {
  this.data[field] = value
}

function sendData(trial) {
  inputData('trial', trial)
  expfactory.recordTrialData(data)
  var taskdata = {taskdata:expfactory.taskdata.getTrialData(), djstatus:"UPDATE","redirect_url":document.URL};
  $.ajax({ type: "POST",
      contentType: "application/json",
      url : "/local/{{ uniqueId }}/",
      data : JSON.stringify(taskdata),
      dataType: "json",
      success: function(data) {
          console.log("data update called")
    },
      error: function(e){
        console.log(e)
      }
  })

  this.data = {}
}
