
.multi-parent {
	position:relative;
	text-align:center;
}

.centerbox {
  width:35vw;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

/* Used for positioning nav buttons during instructions */

.jspsych-instructions-nav {
  width:20vw;
  height: 20vw;
  position:absolute;
  top: 5%;
  left:10%;
  margin-right:-50%;
}


/* Used for general instructions */
.block-text {
  width:100%;
  height 100vw;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 120%;
}

/* As above but centered instead of justified. Good for instructions with few lines */
.center-block-text {
  width:100%;
  height 100vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 120%;
}

/* Used in lists */
.list-text li{
  font-size: 18px;
}

/* used for large text shown in the center of the screen, like FB or stimuli */
.center-text {
	text-align:center;
	font-size: 40px;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* fixation should be used like this in: '<div class = centerbox><div class = fixation>+</div></div>'*/
.fixation {
	text-align: center;
	font-size: 150px;
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/* flex box used to vertically and horizontally center an img.
Sample html: <div class = centerbox><div class = img-container><img...></img></div></div>
*/
.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

body {
	padding: 0;
	margin: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
}


button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7f9ac9), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7f9ac9 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7f9ac9 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f9ac9', endColorstr='#476e9e',GradientType=0);
  background-color:#7f9ac9;
  -moz-border-radius:15px;
  -webkit-border-radius:151px;
  border-radius:15px;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:14px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;

	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 6vw;
	min-width: 15vw;
  max-width: 25vw;
  
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7f9ac9));
  background:-moz-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7f9ac9 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7f9ac9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7f9ac9',GradientType=0);
  background-color:#476e9e;
}

button[disabled] {
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #282828), color-stop(1, #7f9ac9));
  background:-moz-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-webkit-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-o-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:-ms-linear-gradient(top, #282828 5%, #7f9ac9 100%);
  background:linear-gradient(to bottom, #282828 5%, #7f9ac9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#7f9ac9',GradientType=0);
  background-color:#282828;
}

