{% load static from staticfiles %}
<html>
<head>
    <title>The Experiment Factory: No more experiments!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="{% static "js/jquery.min.js"%}"></script>
</head>
<body>
<style>
div {
    width: 400px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
<body>
    <div>
        <h3>Thank you for your participation!</h3>
        <img src="{% static "images/robot.png"%}"/>
        <p>You have completed all of the experiments that we have available at this time.</p>
    </div>
</body>
</html>


{% if amazon_host == "mturk-requester.us-east-1.amazonaws.com" %}
<form action="https://www.mturk.com/mturk/externalSubmit" method="POST" id="turkey_form">
{% else %}
<form action="https://workersandbox.mturk.com/mturk/externalSubmit" method="POST" id="turkey_form">
{% endif %}
        <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
        <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
        <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
</form>

<script>
$(document).ready(function(){
    $("#turkey_form").submit();
});
</script>
