{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block hero %}
<section id="hero" class="container">
    <header>
        <h2>The <a href="http://expfactory.github.io">Experiment Factory</a>
        </br>Make Experiments.
        </h2>
    </header>
    <p>Designed and built by <strong><a href="http://poldracklab.stanford.edu">Poldracklab</a></strong>.</p>
    <ul class="actions">
        {% if request.user.is_authenticated %}                    
        <li><a href="{% url 'experiments' %}" class="button">View Experiments</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="button">Experimenter Login</a></li>
        {% endif %}
    </ul>
</section>
</div>
{% endblock %}
{% block content %}


{% endblock %}
