{% load staticfiles %}
<html>
<head>
    <title>The Experiment Factory: No more experiments!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<style>
div {
    width: 400px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
<body>
    <div>
        <h3>Beep Boop!</h3>
        <img src="{% static "images/robot.png"%}"/>
        <p>An error has been triggered.</p>
    </div>
</body>
</html>
