<html>
{% load static %}
  <head>
    <title>The Experiment Factory</title>
    <meta charset="utf-8" />
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script type="text/javascript" src="/static/expdjjs/underscore-min.js"></script>
    <script type="text/javascript" src="/static/expdjjs/backbone-min.js"></script>
    <script type="text/javascript" src="/static/expdjjs/expfactory.js"></script>
    {{ experiment_load | safe }}

</head>
<body>

<div id="mturk_preview_message">
 <div class="alert alert-info" style="font-size:26px; height:200px; padding-top:75px; padding-left:300px">You must participate in the experiment to view the content.</div>
</div>


    {% include "experiments/instructions_modal.html" %}

    <script>

    $(function() {

      {% include "experiments/preview_battery_runjs.html" %}

      $("#start_experiment_button").click(function(){
         $("#instructions_modal").hide();
      });

   });
</script>

  </body>
</html>
