<html>
{% load static from staticfiles %}
  <head>
    <title>The Experiment Factory</title>
    <meta charset="utf-8" />
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>

    <!-- Google Analytics -->
    {% include "main/google_analytics.html" %}

</head>
<body>

{% include "experiments/instructions_modal.html" %}

<button id="start_experiment" hidden></button>

<script>
$(document).ready(function(){

    var complete = "1";
    $("#next_button").click(function() {

        if (complete == "3" || complete == "complete"){
            {% if assignment_id %}
                window.open("{{ start_url }}")
                // window.location.assign("{{ start_url }}")
            {% else %}
                window.open("{% url 'not_consent_view' %}",fullscreen=1)
                // window.location.assign("{% url 'not_consent_view' %}")
            {% endif %}
            $("#next_button").addClass("hidden")
            $("#previous_button").addClass("hidden")
        }
        complete = $("#next_button").attr("data-step")
    });

    $("#previous_button").click(function() {
        complete = $("#next_button").attr("data-step")
    });


});
</script>

</body>
</html>
