<div>
    Experiments left in battery: <div id="remain_exp"></div><br/>
    Current assignment status: <div id="assignment_status"></div><br/>

    {% if sandbox %}
    <form action="https://workersandbox.mturk.com/mturk/externalSubmit" method="POST" id="external_submit_form">
    {% else %}
    <form action="https://www.mturk.com/mturk/externalSubmit" method="POST" id="external_submit_form">
    {% endif %}
            <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
            <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
            <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
    </form>

    <script>
        (function poll() {
            setTimeout(function() {
                $.ajax({
                    url: "{{ status_url }}",
                    type: "GET",
                    success: function(data) {
                        console.log(data);
                        $("#remain_exp").text(data.experiments.length);
                        $("#assignment_status").text(data.assignment_status);
                        if ((data.experiments.length === 0) && (data.assignment_status == "Not Submitted") && data.submit) {
                            $("#external_submit_form").submit(); 
                        }
                    },
                    dataType: "json",
                    complete: poll,
                    timeout: 2000
                })
            }, 10000);
        })();
    </script>
</div>
