<html>
<head>
    <title>The Experiment Factory: No more experiments!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<style>
div {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>

<body>
    <div>
        <h3>Thank you for your participation!</h3>
        <p>You have completed all of the experiments that we have available at this time.</p>
    </div>
</body>
</html>
